<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>

        </dl>
      </div>
    </div>

  </article>

</section>

<div>
</div>

<div class="panel panel-default items">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Comment</th>
            <th>Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr>
        <% @review.each do |item| %>
          <td>
          <%= item.description %>
          </td>
          <td class = "col-md-1 col-lg-1 col-sm-1 col-xd-1">
          <%= item.rating %>
          <span style="float:right"> 
          <% if current_user && current_user.id == item.user_id %>
          <%= link_to fa_icon('trash'), [item.product, item], class: 'btn btn-sm btn-danger', method: :delete, data: { confirm: "Are you sure?" } %>
          <% end %>
          </span>
          </td> 
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>


<br>
<div>
<% if current_user %>
  <%= form_for([@product, Review.new]) do |form| %>
    <div class="field">
      <div> Please add a comment and rate this product </div>
      <%= form.text_area :description, id: :product_reviews  %>
      <%= form.select :rating, 1..5, id: :product_reviews %>
    </div>
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
<% end %>
</div>
<br>
<br>